body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #001224;
}
.banner {
    background-color: #003366;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}
.banner img {
    max-width: 100px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}
.banner h1 {
    margin: 0;
    font-size: 2em;
}
.preguntas {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.preguntas h2 {
    text-align: center;
    color: #003366;
    margin-bottom: 20px;
}
.pregunta {
    margin-bottom: 15px;
}
.pregunta h3 {
    margin: 0;
    padding: 10px;
    background-color: #003366;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.pregunta p, .pregunta img{
    display: none;
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 5px 5px;
    margin-top: 10px;
    text-align: justify;
}

.pregunta img {
    max-width: 500px;
    height: auto;
}
.pregunta h3:hover {
    background-color: #002244;
}
.pregunta.active p, .pregunta.active img{
    display: block;
}

button {
    background-color: #003366; 
    color: white; 
    border: none; 
    padding: 20px 40px;
    font-size: 18px;
    border-radius: 10px; 
    cursor: pointer;
}

button:hover {
    background-color: #002244;
}